@import "active_admin/mixins";
@import "active_admin/base";

// Active Admin's got SASS!
$skinMainFirstColor: #A5A7AA!default;
$skinMainSecondColor: #0066CC!default;
$skinBorderWindowColor: #B8BABE!default;
$skinBorderRadius: 1px;

@import "wigu/active_admin_theme";

// Overriding any non-variable SASS must be done after the fact.
// For example, to change the default status-tag color:
//
//   .status_tag { background: #6090DB; }
